<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action='/login/facebook/' method="GET">
      <input type='submit' value="페이스북으로 로그인!">
    </form>
    <form action='/login/google/' method="GET">
      <input type='submit' value="구글로 로그인!">
    </form>
    
    <script></script>
  </body>
</html>
