<!DOCTYPE>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <form action='/login/facebook/' method="GET">
    <input type='submit' value="페이스북으로 로그인!">
  </form>
  <form action='/login/google/' method="GET">
    <input type='submit' value="구글로 로그인!">
  </form>
  <v-btn color='primary'>test</v-btn>
  <div id="socialLogin">
    <login-component></login-component>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <!-- <script src="C:\Users\ghwlc\Desktop\study\school\passport_social_test\back\Services\AuthenticationServices.js" -->
  <script>
    Vue.component('login-component', {
      template: "<p><v-btn color='primary' @click='login(facebook)'>facebook 로그인하기</v-btn> <v-btn color='warning' @click='login(google)'>google 로그인하기</v-btn></p>",
    })
    new Vue({
      el: '#socialLogin',
      data : {
        user:null,
        token: null
      },
      methods: {
        async login(socialName) {
          const response = await AuthenticationServices.login(socialName)
        }
      },
    })
  </script>
</body>

</html>