<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
      <img height="100%" width="100%" src= /datalake/capture/img/<%= image%>.jpg></img>
  </body>
  <style>
  </style>
</html>
